<html>
	<head></head>
	<body>
		<div>
			<div class="shelfProductTile-information">
<h3 class="shelfProductTile-description">
<a class="shelfProductTile-descriptionLink" href="/shop/productdetails/139429/red-seedless-watermelon-whole" ng-click="$ctrl.pushProductClickEventToAnalytics()" ui-sref="shop.productdetails({productId: $ctrl.product.Stockcode, productName: $ctrl.product.UrlFriendlyName, product: $ctrl.product})" ui-sref-opts="{reload: false, inherit: false}">
                    Red Seedless Watermelon Whole each
                </a>
</h3>
<!-- --><div ng-if="::$ctrl.product.IsPurchasable">
<wow-shelf-product-tag-image product="::$ctrl.product"><div ng-switch="::(!!$ctrl.product.ImageTag.TagLink)">
<!-- -->
<!-- --><span class="shelfProductTagImage-tag u-noPointerEvents" ng-click="::$ctrl.gtmStaticTagClickPush()" ng-switch-when="false">
<img alt="" class="shelfProductTagImage-image ng-hide" ng-show="::($ctrl.product.ImageTag &amp;&amp; $ctrl.product.ImageTag.TagContent)" ng-src="" oly-error-src=""/>
</span><!-- -->
</div></wow-shelf-product-tag-image>
<wow-shelf-product-tile-offer header-tag="::$ctrl.product.HeaderTag"><div class="shelfProductTileOffer" ng-style="::$ctrl.containerStyle">
<p class="shelfProductTileOffer-text" ng-bind-html="::$ctrl.$sce.trustAsHtml($ctrl.headerTag.Content)" ng-style="::$ctrl.tagStyle"></p>
</div></wow-shelf-product-tile-offer>
<div class="shelfProductTile-ribbonWrapper">
<!-- -->
</div>
<!-- -->
<!-- -->
<div class="shelfProductTile-price">
<div>
<wow-price price="::$ctrl.product.Price"><div class="price" ng-class="::$ctrl.priceClassModifier">
<span class="price-symbol">$</span>
<span class="price-dollars">10</span>
<div class="price-centsPer">
<span class="price-cents">45</span>
<!-- -->
</div>
</div></wow-price>
<!-- -->
</div>
<!-- --><div class="shelfProductTile-cupPrice" ng-if="::$ctrl.product.HasCupPrice">
                        $1.90 / 1KG
                    </div><!-- -->
</div>
</div><!-- -->
</div>
<div class="shelfProductTile-information">
<h3 class="shelfProductTile-description">
<a class="shelfProductTile-descriptionLink" href="/shop/productdetails/113616/honeydew-large" ng-click="$ctrl.pushProductClickEventToAnalytics()" ui-sref="shop.productdetails({productId: $ctrl.product.Stockcode, productName: $ctrl.product.UrlFriendlyName, product: $ctrl.product})" ui-sref-opts="{reload: false, inherit: false}">
                    Honeydew Large  half each
                </a>
</h3>
<!-- --><div ng-if="::$ctrl.product.IsPurchasable">
<wow-shelf-product-tag-image product="::$ctrl.product"><div ng-switch="::(!!$ctrl.product.ImageTag.TagLink)">
<!-- -->
<!-- --><span class="shelfProductTagImage-tag u-noPointerEvents" ng-click="::$ctrl.gtmStaticTagClickPush()" ng-switch-when="false">
<img alt="" class="shelfProductTagImage-image ng-hide" ng-show="::($ctrl.product.ImageTag &amp;&amp; $ctrl.product.ImageTag.TagContent)" ng-src="" oly-error-src=""/>
</span><!-- -->
</div></wow-shelf-product-tag-image>
<wow-shelf-product-tile-offer header-tag="::$ctrl.product.HeaderTag"><div class="shelfProductTileOffer" ng-style="::$ctrl.containerStyle">
<p class="shelfProductTileOffer-text" ng-bind-html="::$ctrl.$sce.trustAsHtml($ctrl.headerTag.Content)" ng-style="::$ctrl.tagStyle"></p>
</div></wow-shelf-product-tile-offer>
<div class="shelfProductTile-ribbonWrapper">
<!-- -->
</div>
<!-- -->
<!-- -->
<div class="shelfProductTile-price">
<div>
<wow-price price="::$ctrl.product.Price"><div class="price" ng-class="::$ctrl.priceClassModifier">
<span class="price-symbol">$</span>
<span class="price-dollars">2</span>
<div class="price-centsPer">
<span class="price-cents">94</span>
<!-- -->
</div>
</div></wow-price>
<!-- -->
</div>
<!-- --><div class="shelfProductTile-cupPrice" ng-if="::$ctrl.product.HasCupPrice">
                        $2.94 / 1EA
                    </div><!-- -->
</div>
</div><!-- -->
</div>
<div class="shelfProductTile-information">
<h3 class="shelfProductTile-description">
<a class="shelfProductTile-descriptionLink" href="/shop/productdetails/137534/pineapple-naturally-sweet" ng-click="$ctrl.pushProductClickEventToAnalytics()" ui-sref="shop.productdetails({productId: $ctrl.product.Stockcode, productName: $ctrl.product.UrlFriendlyName, product: $ctrl.product})" ui-sref-opts="{reload: false, inherit: false}">
                    Pineapple Naturally Sweet  whole each
                </a>
</h3>
<!-- --><div ng-if="::$ctrl.product.IsPurchasable">
<wow-shelf-product-tag-image product="::$ctrl.product"><div ng-switch="::(!!$ctrl.product.ImageTag.TagLink)">
<!-- -->
<!-- --><span class="shelfProductTagImage-tag u-noPointerEvents" ng-click="::$ctrl.gtmStaticTagClickPush()" ng-switch-when="false">
<img alt="" class="shelfProductTagImage-image ng-hide" ng-show="::($ctrl.product.ImageTag &amp;&amp; $ctrl.product.ImageTag.TagContent)" ng-src="" oly-error-src=""/>
</span><!-- -->
</div></wow-shelf-product-tag-image>
<wow-shelf-product-tile-offer header-tag="::$ctrl.product.HeaderTag"><div class="shelfProductTileOffer" ng-style="::$ctrl.containerStyle">
<p class="shelfProductTileOffer-text" ng-bind-html="::$ctrl.$sce.trustAsHtml($ctrl.headerTag.Content)" ng-style="::$ctrl.tagStyle"></p>
</div></wow-shelf-product-tile-offer>
<div class="shelfProductTile-ribbonWrapper">
<!-- -->
</div>
<!-- -->
<!-- -->
<div class="shelfProductTile-price">
<div>
<wow-price price="::$ctrl.product.Price"><div class="price" ng-class="::$ctrl.priceClassModifier">
<span class="price-symbol">$</span>
<span class="price-dollars">4</span>
<div class="price-centsPer">
<span class="price-cents">00</span>
<!-- -->
</div>
</div></wow-price>
<!-- -->
</div>
<!-- --><div class="shelfProductTile-cupPrice" ng-if="::$ctrl.product.HasCupPrice">
                        $4.00 / 1EA
                    </div><!-- -->
</div>
</div><!-- -->
</div>
<div class="shelfProductTile-information">
<h3 class="shelfProductTile-description">
<a class="shelfProductTile-descriptionLink" href="/shop/productdetails/144803/paw-paw-fresh" ng-click="$ctrl.pushProductClickEventToAnalytics()" ui-sref="shop.productdetails({productId: $ctrl.product.Stockcode, productName: $ctrl.product.UrlFriendlyName, product: $ctrl.product})" ui-sref-opts="{reload: false, inherit: false}">
                    Paw Paw Fresh  whole each
                </a>
</h3>
<!-- --><div ng-if="::$ctrl.product.IsPurchasable">
<wow-shelf-product-tag-image product="::$ctrl.product"><div ng-switch="::(!!$ctrl.product.ImageTag.TagLink)">
<!-- -->
<!-- --><span class="shelfProductTagImage-tag u-noPointerEvents" ng-click="::$ctrl.gtmStaticTagClickPush()" ng-switch-when="false">
<img alt="" class="shelfProductTagImage-image ng-hide" ng-show="::($ctrl.product.ImageTag &amp;&amp; $ctrl.product.ImageTag.TagContent)" ng-src="" oly-error-src=""/>
</span><!-- -->
</div></wow-shelf-product-tag-image>
<wow-shelf-product-tile-offer header-tag="::$ctrl.product.HeaderTag"><div class="shelfProductTileOffer" ng-style="::$ctrl.containerStyle">
<p class="shelfProductTileOffer-text" ng-bind-html="::$ctrl.$sce.trustAsHtml($ctrl.headerTag.Content)" ng-style="::$ctrl.tagStyle"></p>
</div></wow-shelf-product-tile-offer>
<div class="shelfProductTile-ribbonWrapper">
<!-- -->
</div>
<!-- -->
<!-- -->
<div class="shelfProductTile-price">
<div>
<wow-price price="::$ctrl.product.Price"><div class="price" ng-class="::$ctrl.priceClassModifier">
<span class="price-symbol">$</span>
<span class="price-dollars">3</span>
<div class="price-centsPer">
<span class="price-cents">89</span>
<!-- -->
</div>
</div></wow-price>
<!-- -->
</div>
<!-- --><div class="shelfProductTile-cupPrice" ng-if="::$ctrl.product.HasCupPrice">
                        $5.90 / 1KG
                    </div><!-- -->
</div>
</div><!-- -->
</div>

		</div>
	</body>
</html>

